/* Selector por tag */

body {
    box-sizing: border-box;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: crimson;
}

article {
    color: brown;
}

ul {
    color: goldenrod;
}

header p {
    color: crimson;

}

/* Selector por clases */

.titulo2 {
    color: darkblue;
}

.text {
    font-size: 5rem;
}

